# Transporto priemonių pozicijos

Šiuo metu Lietuvoje informacija apie viešojo transporto priemonių pozicijas atvirų duomenų pavidalu prieinama 4 Lietuvos miestuose.

| Miestas      | Realaus laiko duomenų .csv formatu nuoroda |
|--------------|--------------------------------------------|
| Vilnius      | https://www.stops.lt/vilnius/gps_full.txt  |
| Kaunas       | https://www.stops.lt/kaunas/gps_full.txt   |
| Klaipėda     | https://www.stops.lt/klaipeda/gps_full.txt |
| Šiauliai     | https://kis.busturas.lt:4431               |
| Panevėžys    | https://www.stops.lt/panevezys/gps.txt     |
| Alytus       | https://www.stops.lt/alytus/gps.txt        |
| Druskininkai | https://www.stops.lt/druskininkai/gps.txt  |


```{admonition} Nestandartinio formato naudojimas
:class: warning
Realaus laiko transporto priemonių pozicijų duomenys pateikiami nestandartizuotu formatu dėl šios priežasties nėra galimybės juos integruoti į jau egzistuojančias priemones pvz., Google Maps.
```

```{admonition} Duomenų licenzijos nepateikimas
:class: warning
Nepateikiama duomenų naudojimo licenzija dėl šios priežasties nėra aišku, ką duomenų naudotojai gali ir ko negali daryti su duomenimis.
```

```{admonition} Nepateikiami metaduomenys
:class: warning
Nepateikiami metaduomenys dėl to duomenų naudotojas priverstas spėlioti kokia yra duomenų struktūra, stulpelių reikmės ir kokiais atvejais duomenų gali trūkti.
```

```{admonition} Skirtingų duomenų formatų pateikimas
:class: warning
Pateikiami miestų duomenys skiriasi savo formatu ir pateikia skirtinga informaciją (pvz., Vilniuje pateikiamas reisoID, Kaune ne) dėl to organizacijai norinčiai naudoti duomenis reikia skirtingai apdoroti kiekvieno miesto duomenis.
```

## Duomenų pavyzdžiai
### Vilnius

```{admonition} Pateikiamas reiso identifikatorius nesisieja su GTFS duomenimis
:class: warning
Realaus laiko transporto priemonių pozicijų duomenys pateikiami nestandartizuotu formatu dėl šios priežasties nėra galimybės juos integruoti į jau egzistuojančias priemones pvz., Google Maps.
```

In [11]:
import pandas as pd

vilnius_gps_df = pd.read_csv(
    '../data/vehicle_positions/vilnius_gps_full.csv',
    dtype={
        'Transportas': pd.CategoricalDtype(),
        'Marsrutas': pd.StringDtype(),
        'ReisoID': pd.StringDtype(),
        'MasinosNumeris': pd.StringDtype(),
        'Ilguma': pd.Int64Dtype(),
        'Platuma': pd.Int64Dtype(),
        'Greitis': pd.Int64Dtype(),
        'Azimutas': pd.Int64Dtype(),
        'ReisoPradziaMinutemis': pd.Int64Dtype(),
        'NuokrypisSekundemis': pd.Int64Dtype(),
        'MatavimoLaikas': pd.Int64Dtype(),
        'MasinosTipas': pd.CategoricalDtype(),
    })
vilnius_gps_df

,Transportas,Marsrutas,ReisoID,MasinosNumeris,Ilguma,Platuma,Greitis,Azimutas,ReisoPradziaMinutemis,NuokrypisSekundemis,MatavimoLaikas,MasinosTipas,Unnamed: 12
0,Autobusai,1,17336931635,2-17161,25276578,54650030,14,4,995,18,59826,NaN,NaN
1,Autobusai,4G,17343831627,8006,25315128,54712690,9,194,987,59,59837,KWNZ,NaN
2,Autobusai,24,17337251550,4008,25241360,54739938,0,146,950,0,59765,Z,NaN
3,Autobusai,61,17136211625,7018,25303028,54654858,0,354,985,-52,59650,KWNZ,NaN
4,Autobusai,87,16663191548,4515,25271540,54769358,42,180,948,-27,59540,KWNZ,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
563,Autobusai,7,17375281605,8008,25274528,54712710,0,90,965,394,59832,KWNZ,NaN
564,Autobusai,49,17180991537,729,25266030,54734920,43,354,937,0,59706,KZ,NaN
565,Autobusai,49,17180991537,729,25266030,54734920,43,354,937,0,59706,KZ,NaN
566,Autobusai,4G,17343901625,2-26512,25209218,54700090,36,112,985,-76,59596,NaN,NaN
567,Autobusai,89,17375111600,4550,25288308,54694330,2,344,960,-92,59654,KWNZ,NaN

In [ ]:
### Kaunas

In [13]:
kaunas_gps_df = pd.read_csv(
    '../data/vehicle_positions/kaunas_gps_full.csv',
    dtype={
        'Transportas': pd.CategoricalDtype(),
        'Marsrutas': pd.StringDtype(),
        'ReisoID': pd.StringDtype(),
        'MasinosNumeris': pd.StringDtype(),
        'Ilguma': pd.Int64Dtype(),
        'Platuma': pd.Int64Dtype(),
        'Greitis': pd.Int64Dtype(),
        'Azimutas': pd.Int64Dtype(),
        'AtvykimoLaikasSekundemis': pd.Int64Dtype(),
        'ReisoPradziaMinutemis': pd.Int64Dtype(),
        'NuokrypisSekundemis': pd.Int64Dtype(),
        'MatavimoLaikas': pd.Int64Dtype(),
        'MasinosTipas': pd.CategoricalDtype(),
    })
kaunas_gps_df

,Transportas,Marsrutas,Grafikas,MasinosNumeris,Ilguma,Platuma,Greitis,Azimutas,ReisoPradziaMinutemis,NuokrypisSekundemis,SekanciosStotelesNum,AtvykimoLaikasSekundemis,Unnamed: 12
0,Troleibusai,14,14-02,102,23941805,54933682,23,266,1007,40,121,60581,NaN
1,Troleibusai,14,14-01,105,23942775,54929157,34,180,998,50,508,60531,NaN
2,Troleibusai,14,14-10,128,23929555,54933907,29,96,968,-49,812,60491,NaN
3,Troleibusai,14,14-09,20,23956857,54897992,5,252,978,-1,373,60659,NaN
4,Troleibusai,14,14-11,3,23970112,54918830,11,204,988,20,452,60560,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,Autobusai,29G,29G-02,2900,23921118,54898742,0,92,965,219,1004,60640,NaN
281,Autobusai,32,32-01,2917,23788937,54884380,0,58,1006,0,637,60481,NaN
282,Autobusai,31,31-02,2938,23865552,54856858,0,94,944,0,807,60720,NaN
283,Autobusai,31,31-03,2984,23891237,54938383,0,112,935,0,750,60552,NaN
284,Autobusai,31,31-01,2995,23896220,54896233,14,0,978,1,560,60662,NaN

### Klaipėda

In [15]:
klaipeda_gps_df = pd.read_csv('../data/vehicle_positions/klaipeda_gps_full.csv', dtype={
    'Transportas': pd.CategoricalDtype(),
    'Marsrutas': pd.StringDtype(),
    'ReisoID': pd.StringDtype(),
    'MasinosNumeris': pd.StringDtype(),
    'Ilguma': pd.Int64Dtype(),
    'Platuma': pd.Int64Dtype(),
    'Greitis': pd.Int64Dtype(),
    'Azimutas': pd.Int64Dtype(),
    'ReisoPradziaMinutemis': pd.Int64Dtype(),
    'NuokrypisSekundemis': pd.Int64Dtype(),
})
klaipeda_gps_df

,Transportas,Marsrutas,ReisoID,MasinosNumeris,Ilguma,Platuma,Greitis,Azimutas,ReisoPradziaMinutemis,NuokrypisSekundemis,Unnamed: 10
0,Autobusai,M5,2963791711,509 kwmt,21182356,55687912,44,338,1031,79,NaN
1,Autobusai,M5,2963761644,515 kwmt,21194124,55661380,0,162,1004,0,NaN
2,Autobusai,M5,2963751655,521 kwmt,21126566,55719572,46,340,1015,18,NaN
3,Autobusai,M5,2963781717,513 kwmt,21132210,55731936,42,182,1037,78,NaN
4,Autobusai,M5,2963771701,517 kwmt,21164460,55698924,42,54,1021,-2,NaN
...,...,...,...,...,...,...,...,...,...,...,...
153,Autobusai,29,3927871720,78 kwmt,21174712,55665456,23,340,1040,14,NaN
154,Autobusai,6A,<NA>,MDS 073 wt,21201450,55720704,0,84,<NA>,<NA>,NaN
155,Autobusai,6A,3928261710,HMP 076 t,21131484,55711940,11,162,1030,178,NaN
156,Autobusai,6A,3928241634,JTE 338 t,21201826,55662112,0,340,994,0,NaN
157,Autobusai,6A,3928251650,HJP 264,21136638,55708092,13,312,1010,173,NaN

### Panevėžys

In [7]:
panevezys_gps_df = pd.read_csv('../data/vehicle_positions/panevezys_gps_no_header.csv', header=None)
panevezys_gps_df

    0    1         2         3   4    5   6       7   8
0   2   16  24325073  55722340  32  246 NaN  BHZ628 NaN
1   2  NaN  24378012  55715382   0    2 NaN  CEJ469 NaN
2   2  NaN  24377176  55715157   0   32 NaN  DGA468 NaN
3   2   15  24367407  55728493  35  360 NaN  DOM143 NaN
4   2   13  24344337  55721416   9  138 NaN  EDO146 NaN
5   2   6A  24289122  55741882   0  106 NaN  ENV560 NaN
6   2  10A  24312031  55730343   0  100 NaN  FAO459 NaN
7   2   16  24340685  55728172   0  100 NaN  FBS690 NaN
8   2   11  24371071  55718014   4  258 NaN  FBS714 NaN
9   2   10  24317413  55731647   2  172 NaN  FCJ233 NaN
10  2   12  24307056  55737698  15  268 NaN  FCK838 NaN
11  2  NaN  24376678  55715153   0   86 NaN  FDV054 NaN
12  2   11  24338659  55737465  40  166 NaN  FFF374 NaN
13  2    6  24356499  55729530   1  162 NaN  FGS413 NaN
14  2    6  24383429  55728580  24  252 NaN  GCG296 NaN
15  2   16  24342276  55732254  18  278 NaN  GCG297 NaN
16  2   11  24393623  55720348   0  140 NaN  GCG298 NaN
17  2   10  24366482  55725868   7  196 NaN  GCG301 NaN
18  2   1E  24356569  55737175  28  346 NaN  GHV406 NaN
19  2    9  24354609  55709656  39  164 NaN  GHV407 NaN
20  2  NaN  24377403  55715984   0   84 NaN  GUC384 NaN
21  2    4  24371380  55737251  35  248 NaN  HFH158 NaN
22  2    8  24344845  55738995   0    0 NaN  HFH291 NaN
23  2   15  24369806  55739037  30  184 NaN  HFH293 NaN
24  2   3A  24325346  55728577  21  178 NaN  HFH328 NaN
25  2   3A  24367277  55729366  30  180 NaN  HFH331 NaN
26  2   13  24340094  55728298   0  278 NaN  HFH593 NaN
27  2    3  24366621  55726021   8  352 NaN  HFH594 NaN
28  2  NaN  24377588  55715157   0   94 NaN  HFH596 NaN
29  2   16  24378653  55705406   0  328 NaN  JOV157 NaN
30  2   15  24364931  55774864  35  352 NaN  JOV158 NaN
31  2    5  24362076  55722111  11    4 NaN  JOV302 NaN
32  2    3  24357704  55755959  42  274 NaN  JOV305 NaN
33  2    4  24362120  55721603   8  178 NaN  JOV389 NaN
34  2   14  24347738  55727669  40  274 NaN  JOV391 NaN
35  2    7  24362883  55721218  13   72 NaN  JOV469 NaN
36  2    8  24363537  55749691  30   94 NaN  KDJ271 NaN
37  2   16  24367325  55728741  33   10 NaN  KDJ273 NaN
38  2   14  24343233  55727962  24   90 NaN  KDJ274 NaN
39  2   10  24370192  55741173  13    4 NaN  KDJ275 NaN
40  2   16  24378912  55705086   0  330 NaN  LHO467 NaN
41  2    7  24355228  55742256  42  174 NaN  LHO469 NaN
42  2    5  24366776  55726898   7  210 NaN  LHO470 NaN
43  2    5  24332598  55735905  29  124 NaN  LHO471 NaN
44  2    4  24367311  55728706  17  302 NaN  LHO472 NaN
45  2   10  24342800  55728050  37  278 NaN  LHO473 NaN
46  2    7  24317839  55750671  45  304 NaN  LHO475 NaN
47  2    7  24381105  55719555  34   56 NaN  LHO477 NaN
48  2   14  24362980  55726082   0  280 NaN  LHO478 NaN
49  2   6A  24401468  55730598  49   74 NaN  LHO479 NaN
50  2   10  24356607  55726974   4   84 NaN  LZH151 NaN
51  2    8  24370367  55743080   0   10 NaN  LZH353 NaN
52  2    3  24324984  55726116  13    0 NaN  LZH354 NaN
53  2   15  24328993  55731449  22  274 NaN  MDL365 NaN